DATABASE_URL="postgresql://USER:PASSWORD@POOLER_HOST:6543/DATABASE?schema=public&uselibpqcompat=true&sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@POOLER_HOST:5432/DATABASE?schema=public&uselibpqcompat=true&sslmode=require"
ADMIN_USERNAME="superadmin"
ADMIN_PASSWORD="ganti-password-admin"
DASHBOARD_ACCESS_KEY="ganti-random-session-key"
